#choropleth_map {
	margin-left: 15%;
}

#interactive_linechart {
	display: block;
}

  body {
	background-color: rgb(245, 250, 255);
	padding:5% 10% 10% 10%;
  }

  .vis-container {
	width: 100%;
  }

  .description-right {
	padding-left: 20px;
  }

  #sec-2{
	margin-bottom: 50px;
  }
